#readMore { display: none;}/* js 'read more' script*/
button#btn { padding: 15px; color: blue; font-family: georgia; text-transform: uppercase; background-color: #FFEBCD; border-radius: 10px;}

footer, .text-links li,.text-links li a{ display: none;}
.event-name, .vanue-name{color: white; font-weight: 900; text-shadow: 2.5px 2.5px black;}
.adiv { font-size: 1.5em; color: white; text-shadow: 2.5px 2.5px black; font-weight:600; }
.buttons{background: transparent !important;}
#viewEvent, .eventVanue{background:transparent;}

html, body, #viewEvent, .enterPromoCode, .red-heading, .adiv, .tot, .text24, .eventVanue, .event-name, .buttons a ,.organiserBox p,.organiserBox span a, .text-links li a,  .eventFlyerDes{font-family: georgia,Times !important;}

.ticdes p, .ticdetail { font-size:16px; text-align: left; line-height: 16px;}
c12.tides { padding-left: 10px; padding-right: 5px;}

.refundPolicyInfo, .organiserBox, .ticket,.buttons a.makeLive , .eventBanner, .eventVanue{ border-radius: 10px;}

a { color: #E135A2;}
a:visited {color:#8A2BE2;}

.red-heading, .tot,.multiDateVenueText,.organiserBox a{ color: black;}

.eventFlyerDes, .buttons ,.buttons a.makeLive, .enterPromoCode, .tot {  background: rgb(231,130,58);
background: linear-gradient(90deg, rgba(231,130,58,0.6278711313627013) 16%, rgba(223,181,107,0.3309523638556985) 61%, rgba(233,155,126,0.4738095067128414) 84%);  color: black;}

 section.eventBanner{
    background-image:url("https://s3-us-west-2.amazonaws.com/alchemymomentum.com/img/splashingWater.png");
     background-color: transparent;
    background-size:cover;
    background-attachment:scroll;  /* needed for safari apple products */
    min-height: 425px;
    }
@media screen and (max-device-width: 768px) {
   section.eventBanner{
    background-image:url("https://s3-us-west-2.amazonaws.com/alchemymomentum.com/img/splashingWater618x246.png");
    background-size:cover;
    background-attachment:scroll; }
  }

body{
/*    background-image: url("https://s3-us-west-2.amazonaws.com/alchemymomentum.com/img/background-1747786_1280.jpg");*/
    background-attachment:scroll;
}
    
/* for safari apple products*/
body {
padding-left: constant(safe-area-inset-left);
padding-right: constant(safe-area-inset-right);
}

