/* NOTE: ISSUE WITH RIGHT SIDE OF WEBPAGE, SPACE UNACCOUNTED FOR, NEEDS TO BE FIXED!! */

/* * * * * **********  GLOBAL VARIABLES   ******* * * * * * * * * * * */
.text-success {
    color: black !important;
}

body {
    max-width: fit-content;
    margin: 20px auto;
    color: black;
    background-color: transparent;
    box-shadow: 5px 5px 30px rgb(124, 90, 90);
    font-family: 'Lora',
        serif;
    /* font-family: 'Indie Flower',
        cursive; */
}

a,
a:visited,
.devSkills h5 {
    color: chocolate;
}

ul {
    list-style-position: outside;
    list-style-type: circle;
}

.card {
    margin-right: 5px;
}

.card-header,
.card-title {
    margin: 0 auto;
}

.card,
main,
.btn {
    background-color: aliceblue;
}

.btn {
    font-weight: 600;
    border: 2.5px solid chocolate;
}

.fName,
.title,
.card-title,
.card-header,
.softSkills h5,
.summary h5,
.portfolio,
.portfolio2,
.education h5,
.certs h5,
.workExp h5 {
    color: brown;
}

h5 {
    margin: .05rem;
}

.summary p {
    margin: 10px;
}

.summary h5 {
    margin-top: 15px;
}

header,
aside,
.devSkills h5:nth-of-type(1),
.card-header a,
.card-title a {
    border-radius: 5px;
}

header,
aside,
.devSkills h5:nth-of-type(1),
.card-header a,
.card-title a .summary h5,
.portfolio,
.portfolio2,
.workExp h5,
.summary h3,
h6.card-title {
    text-align: center;
}

h6.card-title {
    margin-bottom: 10px;
    margin-top: 0;
}

.haleh {
    font-size: .8em;
}

#footnote,
#footnote2,
#footnote3 {
    font-size: .9em;
}

/* * * * * **********GRID | FLEXBOX VARIABLES  ******* * * * * * * * * * * */
.grid-container {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
    grid-template-columns: repeat(auto-fit, minmax(350px, 450px));
}

header {
    grid-area: header;

}

aside {
    grid-area: aside;

}

/* NOTE:column reversed for 'ASIDE' TAG */
aside {
    display: flex;
    flex-direction: column-reverse;
}

.bookTime {
    margin-top: 10px;
    margin-bottom: 10px;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

footer {
    display: grid;
    grid-template-areas:
        "footnote footnote"
        "footnote2 footnote2"
        "footnote3 footnote3"
        "print update";
    height: 100%;
    /* box-shadow: 5px 5px 30px rgb(124, 90, 90) inset; */
}

#footnote {
    grid-area: footnote;
}

#footnote2 {
    grid-area: footnote2;
}

#footnote3 {
    grid-area: footnote3;
}

.print {
    grid-area: print;
}

.update {
    grid-area: update;
}

#footnote,
#footnote2,
#footnote3,
.print,
.update {
    display: flex;
    margin: 10px 5px;
    justify-content: center;
}

/* * * * * ********** MEDIA QUERY  ******* * * * * * * * * * * */
@media screen and (min-width:768px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            "header aside"
            "main main"
            "footer footer";
        max-width: 950px;
    }

    main {
        display: grid;
        grid-template-areas:
            "summary summary summary summary"
            "softSkills devSkills devSkills devSkills"
            "portfolio portfolio portfolio2 portfolio2"
            "education education certs certs"
            "workExp workExp workExp workExp"
            "workExp2 workExp2 workExp2 workExp2"
            "workExp3 workExp3 workExp3 workExp3"
            "workExp4 workExp4 workExp4 workExp4";
    }

    .summary {
        grid-area: summary;
        /* grid-column: 1 / 5; */
    }

    .devSkills,
    .softSkills,
    .education,
    .certs {
        max-width: 450px;
        display: flex;
    }

    .portfolio,
    .portfolio2 {
        display: flex;
    }

    .devSkills,
    .softSkills {
        align-items: baseline;
        justify-content: space-evenly;
    }

    .softSkills {
        grid-area: softSkills;
        /* grid-column: 1 / 2; */
    }

    .devSkills {
        grid-area: devSkills;
        /* grid-column: 2 / 5; */
    }

    .portfolio,
    .portfolio2 {
        align-items: center;
        justify-content: space-evenly;
    }

    .portfolio {
        grid-area: portfolio;
        /* grid-column: 1 / 5; */

    }

    .portfolio2 {
        grid-area: portfolio2;
    }

    .education {
        grid-area: education;
        /* grid-column: 1 / 3; */
        align-items: center;
        justify-content: space-evenly;
    }

    .certs {
        grid-area: certs;
        /* grid-column: 3 / 5; */
        align-items: baseline;
        justify-content: space-evenly;
    }

    .workExp {
        grid-area: workExp;
    }

    .workExp2 {
        grid-area: workExp2;
    }

    .workExp3 {
        grid-area: workExp3;
    }

    .workExp4 {
        grid-area: workExp4;
    }

    .card {
        min-width: 450px;
    }

}

/* * * * * ********** END MEDIA QUERY  ******* * * * * * * * * * * */