/* https://s3-us-west-2.amazonaws.com/alchemymomentum.com/img/joehulseyphotographylogo.jpg */

#more {display: none;} /* for js script */

footer{ display: none;}

a { color: #E135A2;}a:visited, .red-heading, .tot,.multiDateVenueText, .organiserBox a{ color:#4b371b}.enterPromoCode {background-color: #b380ff; }

.ticdes p, .ticdetail { font-size:14px; text-align: left;}

.refundPolicyInfo, .organiserBox, .ticket,.buttons a.makeLive , .eventBanner{ border-radius: 10px;}.eventVanue{border-radius:12px;}

.buttons a.makeLive { color: black;}.adiv{font-weight: 800;}


html, body, #viewEvent, .enterPromoCode, .red-heading, .adiv, .tot, .text24, .eventVanue, .event-name, .buttons a ,.organiserBox p,.organiserBox span a, .text-links li a,  .eventFlyerDes , .bio{font-family: georgia,Times, serif !important;}

section.eventBanner, .eventFlyerDes, .eventVanue { background: rgb(245,86,236);background: linear-gradient(140deg, rgba(245,86,236,0.5130251929873512) 8%, rgba(137,214,215,0.5130251929873512) 28%, rgba(186,171,236,0.5130251929873512) 65%);}


body, #viewEvent, .buttons ,.buttons a.makeLive {background-image: url("https://s3-us-west-2.amazonaws.com/alchemymomentum.com/img/1095.jpg");}