doctype html 
html(lang="en")
    head
        title Landing Page 
    body
        h1 The future home of something magical!
        p Gate wind, moonshine  horeses meow irrigation, with feed troughts cheep, or cabbage with pumpkin trees chicken. Gate wind, moonshine  horeses meow irrigation, with feed troughts cheep, or cabbage with pumpkin trees chicken. Gate wind, moonshine  horeses meow irrigation, with feed troughts cheep, or cabbage with pumpkin trees chicken.