#readMore {
    display: none;
}

/* js 'read more' script*/
div#myID {
    width: 100%;
}

div#myID img {
    margin: auto;
    padding: 2px 20px 40px 2px;
    max-width: 200px;
    max-height: 200px;
}

@media screen and (max-width: 350px) {
    div#myID img {
        max-width: 150px;
        max-height: 150px;
    }
}

@media screen and (min-width: 600px) {
    div#myID img {
        max-width: 250px;
        max-height: 250px;
    }
}

header {
    display: none;
}

section.eventBanner {
    margin-top: -25px;
}

div#viewEvent {
    margin-top: -50px;
}

button#btn {
    padding: 15px;
    color: blue;
    font-family: georgia;
    text-transform: uppercase;
    background-color: #FFEBCD;
    border-radius: 10px;
}

footer,
.text-links li,
.text-links li a {
    display: none;
}

.event-name,
.vanue-name {
    color: black;
    font-weight: 900;
    text-shadow: 2.5px 2.5px white;
}

.adiv {
    font-size: 1.5em;
    color: black;
    text-shadow: 2.5px 2.5px white;
    font-weight: 600;
}

.buttons {
    background: transparent !important;
}

#viewEvent,
.eventVanue {
    background: transparent;
}

html,
body,
#viewEvent,
.enterPromoCode,
.red-heading,
.adiv,
.tot,
.text24,
.eventVanue,
.event-name,
.buttons a,
.organiserBox p,
.organiserBox span a,
.text-links li a,
.eventFlyerDes {
    font-family: georgia, Times !important;
}

.ticdes p,
.ticdetail {
    font-size: 16px;
    text-align: left;
    line-height: 16px;
}

c12.tides {
    padding-left: 10px;
    padding-right: 5px;
}

.refundPolicyInfo,
.organiserBox,
.ticket,
.buttons a.makeLive,
.eventBanner,
.eventVanue {
    border-radius: 10px;
}

a {
    color: #E135A2;
}

a:visited {
    color: #8A2BE2;
}

.red-heading,
.tot,
.multiDateVenueText,
.organiserBox a {
    color: mediumpurple;
}

.enterPromoCode {
    background-color: #b380ff;
}
.eventFlyer { display: none;}

.eventFlyerDes,
.buttons a.makeLive,
.buttons,
.enterPromoCode,
.tot {
    background: rgb(64, 181, 203);
    background: linear-gradient(90deg, rgba(64, 181, 203, 0.5858543246400123) 28%, rgba(144, 232, 156, 0.49341734985009633) 36%, rgba(162, 225, 237, 0.5858543246400123) 36%, rgba(104, 198, 222, 0.4373949408865109) 75%);
}

section.eventBanner {
  background: rgb(128,125,185);
background: linear-gradient(90deg, rgba(128,125,185,0.3393558106836485) 0%, rgba(9,121,76,0.5802521692270659) 35%, rgba(0,212,255,1) 100%);
    /* needed for safari apple products */
    min-height: 425px;
}

@media screen and (max-device-width: 768px) {
    section.eventBanner {
      background: rgb(128,125,185);
background: linear-gradient(90deg, rgba(128,125,185,0.3393558106836485) 0%, rgba(9,121,76,0.5802521692270659) 35%, rgba(0,212,255,1) 100%);
    }
}

/* for safari apple products*/
body {
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
}
