/*
<link rel="stylesheet" title="Katie Hutchinson" href="https://s3-us-west-2.amazonaws.com/alchemymomentum.com/myCss/katiehutchinson.css"/>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/alchemymomentum.com/myJs/RockITEventCombo.js"></script>
<p>Webinar refunds available 4 days prior to event start date; However, your seat can be transferred.</p>*/
#readMore {
    display: none;
}

/* js 'read more' script*/
div#myID {
    width: 100%;
}

div#myID img {
    margin: auto;
    padding: 2px 20px 40px 2px;
    max-width: 200px;
    max-height: 200px;
}

@media screen and (max-width: 350px) {
    div#myID img {
        max-width: 150px;
        max-height: 150px;
    }
}

@media screen and (min-width: 600px) {
    div#myID img {
        max-width: 250px;
        max-height: 250px;
    }
}

header {
    display: none;
}

section.eventBanner {
    margin-top: -25px;
}
.eventFlyer { display: none;}
div#viewEvent {
    margin-top: -50px;
}

button#btn {
    padding: 15px;
    color: blue;
    font-family: georgia;
    text-transform: uppercase;
    background-color: #FFEBCD;
    border-radius: 10px;
}

footer,
.text-links li,
.text-links li a {
    display: none;
}

.event-name,
.vanue-name {
    color: black;
    font-weight: 400;
}

.event-name {
    font-size: 1.4em;
}

.adiv {
    font-size: 1.2em;
    color: black;
    font-weight: 400;
}

.buttons {
    background: transparent !important;
}

.eventVanue {
    background-color: aliceblue;
    opacity: .9;
}

#viewEvent {
    background: transparent !important;
}

html,
body,
#viewEvent,
.enterPromoCode,
.red-heading,
.adiv,
.tot,
.text24,
.eventVanue,
.event-name,
.buttons a,
.organiserBox p,
.organiserBox span a,
.text-links li a,
.eventFlyerDes {
    font-family: georgia, Times, serif !important;
}

.ticdes p,
.ticdetail {
    font-size: 16px;
    text-align: left;
    line-height: 16px;
}

c12.tides {
    padding-left: 10px;
    padding-right: 5px;
}

.refundPolicyInfo,
.organiserBox,
.ticket,
.buttons a.makeLive,
.eventBanner,
.eventVanue {
    border-radius: 10px;
}

a {
    color: #E135A2;
}

a:visited {
    color: #8A2BE2;
}

.red-heading,
.tot,
.multiDateVenueText,
.organiserBox a {
    color: mediumpurple;
}

.enterPromoCode {
    background-color: #b380ff;
}

.eventFlyerDes,
.buttons,
.buttons a.makeLive,
.enterPromoCode {
    background: rgb(245, 86, 236);
    background: linear-gradient(90deg, rgba(245, 86, 236, 0.5130251929873512) 8%, rgba(137, 214, 215, 0.5130251929873512) 28%, rgba(186, 171, 236, 0.5130251929873512) 65%);
    color: black;
}

.eventVanue {
    margin-top: 300px;
}

section.eventBanner {
    background-image: url("#");
    background-size: cover;
    background-color: transparent !important;
    min-width: 100%;
    min-height: 300px;
    margin-top: -50px;
    background-attachment: scroll;
    /* needed for safari apple products */
}

@media screen and (max-device-width:900px) {

    .event-name,
    .vanue-name {
        color: black;
        font-weight: 500;
    }

    .eventVanue {
        margin-top: 0;
    }

    .event-name {
        font-size: 1.2em;
    }

    .adiv {
        font-size: 1em;
        color: black;
        font-weight: 500;
    }

    section.eventBanner {
        background-image: url("#");
        background-color: transparent !important;
        background-size: contain;
        background-attachment: scroll;
        min-height: 600px;
        margin-bottom: -230px;
        margin-top: 0;
    }
}

body {
/*    background-image: url("https://s3-us-west-2.amazonaws.com/alchemymomentum.com/img/1095.jpg");*/
}

/* needed for safari apple products */
body {
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
}
