/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pathway+Gothic+One&display=swap" rel="stylesheet">
CSS rules to specify families

font-family: 'Montserrat', sans-serif;
font-family: 'Pathway Gothic One', sans-serif; */

.col-md {
    /* font-family: 'Pathway Gothic One', sans-serif !important; */
    display: table-cell;
    padding: 16px;
}

body,
.container-lg {
    font-family: "Montserrat", "Pathway Gothic One", sans-serif !important;
    font-weight: 300;
}