#readMore {
    display: none;
}

/* js 'read more' script*/
div#myID {
    width: 100%;
}

div#myID img {
    margin: auto;
    padding: 2px 20px 40px 2px;
    max-width: 200px;
    max-height: 200px;
}

@media screen and (max-width: 350px) {
    div#myID img {
        max-width: 150px;
        max-height: 150px;
    }
}

@media screen and (min-width: 600px) {
    div#myID img {
        max-width: 250px;
        max-height: 250px;
    }
}

button#btn {
    padding: 15px;
    color: blue;
    font-family: georgia;
    text-transform: uppercase;
    background-color: #FFEBCD;
    border-radius: 10px;
}

footer,
.text-links li,
.text-links li a {
    display: none;
}

.event-name,
.vanue-name {
    color: white;
    font-weight: 900;
    text-shadow: 2.5px 2.5px black;
}

.adiv {
    font-size: 1.5em;
    color: black;
    text-shadow: 2.5px 2.5px white;
    font-weight: 600;
}

.buttons {
    background: transparent !important;
}

.eventVanue {
    background-color: aliceblue;
    opacity: .6
}

html,
body,
#viewEvent,
.enterPromoCode,
.red-heading,
.adiv,
.tot,
.text24,
.eventVanue,
.event-name,
.buttons a,
.organiserBox p,
.organiserBox span a,
.text-links li a,
.eventFlyerDes,
.bio {
    font-family: georgia, Times !important;
}

a,
a.makeLive,
buttons,
a:visited,
.red-heading,
.tot,
.multiDateVenueText,
.organiserBox a {
    color: black;
    font-weight: 400;
}

.eventVanue {
    border-radius: 12px;
}

.ticdes p,
.ticdetail {
    font-size: 14px;
    text-align: left;
}

.refundPolicyInfo,
.organiserBox,
.ticket,
.buttons a.makeLive,
.eventBanner {
    border-radius: 10px;
}

.eventFlyerDes {
    color: black;
    font-size: 16px;
}

#viewEvent {
    background: transparent;
}

section.eventBanner {
    background-image: url("https://s3-us-west-2.amazonaws.com/alchemymomentum.com/img/pexels-ricardo-esquivel-2100956.jpg");
    min-height: 450px;
}

.enterPromoCode,
.eventFlyerDes,
.buttons,
.buttons a.makeLive {
    background: rgb(168, 249, 162);
    background: linear-gradient(270deg, rgba(168, 249, 162, 0.5130251929873512) 2%, rgba(233, 79, 230, 0.37857141147474616) 60%);
}

body {
/*    background-image: url("https://s3-us-west-2.amazonaws.com/alchemymomentum.com/img/fantasy-3645263_1920.jpg");*/
    margin: 0 auto;
}
